body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

select, textarea, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

canvas {
    border: 1px solid #ccc;
    width: 100%;
    height: 300px;
}

#inventory {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: calc(100% / 3); /* 1/3 of the page width */
    height: calc(100vh - 400px); /* Adjust the height as needed */
    border: 1px solid #ccc;
    padding: 5px;
}

.inventorySlot {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9; /* Light grey background */
}